<!DOCTYPE html>
<html lang="en">
<!-- need to incorporate recipeTYPE into the edit form -->
<head>
    <%- include('./partials/header.ejs', {title: 'Edit Recipe | YUM'}) %>
    <link rel="stylesheet" href="/styles/recipe-form.css">

	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <h1>Edit Recipe </h1>

	<form method="POST" action="/recipes/<%= recipe._id %>?_method=PUT">
		<label for="name">Recipe:</label>
		<input type="text" name="name" id="name" value="<%= recipe.recipeName %>" required>


		<label for="description">Description:</label>
		<textarea name="description" id="description"><%= recipe.description %></textarea>
		

		<label for="numOfIng">Number of Ingredients: </label>
		<input step="1" type="number" name="numOfIng" id="numOfIng" value="<%= recipe.numOfIng %>"  min="1">

		<label for="ingredients">Ingredients</label>
		<input type="text" name="ingredients" id="ingredients" value="<%= recipe.ingredients %>" required>

		<label for="photo">Photo URL:</label>
		<input type="text" name="photo" id="photo" value="<%= recipe.photo %>" required>

		<label for="quickFinds">Quick Finds:</label>
		<input type="checkbox" name="quickFinds" id="quickFinds">

        <label for="instructions">Instructions:</label>
		<textarea name="instructions" id="instructions" ><%= recipe.instructions %></textarea>

		<button type="submit">Add Product</button>
	</form>

</body>

</html>
