<!-- //home page dynamically rendered with the db -->
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header.ejs', {title: 'YUMY | Recipe App'}) %>
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">

</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main >


        <section class="hook">

            <% let h2title = "View All Recipes" %>
            <% let h2letters = h2title.split('')%>

            <h2 class="hook">
                <% h2letters.forEach(function(letter) { %>
                    <span><%= letter %></span>
                  <% }) %> </h2>


            <a href="/recipes" class="btn">Click Here</a>
        </section>

        <!-- now the quick finds class -->
        <section class="selling-fast">
            <h2>Quick Finds</h2>
            <ul class="sf-grid" >
            
                <% for (let recipe of recipes) { %>

                <li class="col-4">
                    <img class="col-10" src="<%= recipe.photo %>" >
                    <h3><%= recipe.recipeName %></h3>
                    <p><%= recipe.description %> </p>
                    <a href="/recipes/<%= recipe._id %>" class="btn">Make It!</a>
                </li>
                <% } %>
            </ul>
        </section>

        <section class="hook">
            <h2 id="new-product-head">Found a new recipe?</h2>
            <h3>Quick! Write it down...</h3>
            <a href="/recipes/new" class="btn">Click for Form</a>


        </section>

        <section class="about">
            <h2>About Us</h2>
            <p>At YUMY, we hate it when we open the fridge and don't know what to make. Our app is here to <strong>help you</strong> find and <strong>remember</strong> all of the meals, snack and drinks that you love!
            </p>
            <!-- <a href="/about" class="btn">Learn More</a> -->
        </section>
    </main>

</body>

</html>