<!-- //home page dynamically rendered with the db -->
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header.ejs', {title: 'Recipe APP'}) %>
    <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main >
        <section class="hook">
            <h2>View All Recipes</h2>
            <a href="/recipes" class="btn">Click Here</a>
        </section>

        <!-- now the quick finds class -->
        <section class="selling-fast">
            <h2>Quick Finds</h2>
            <ul class="sf-grid">
                <% for (let recipe of recipes) { %>
                <li>
                    <img class="col-6" src="<%= recipe.photo %>" >
                    <h3><%= recipe.recipeName %></h3>
                    <p><%= recipe.description %> </p>
                    <a href="/recipes/<%= recipe._id %>" class="btn">Make It!</a>
                </li>
                <% } %>
            </ul>
        </section>

        <section class="hook">
            <h2 id="new-product-head">Found a new recipe?</h2>
            <h3>Quick! Write it down...</h3>
            <a href="/recipes/new" class="btn">Click for Form</a>


        </section>

        <section class="about">
            <h2>About Us</h2>
            <p>At YUM, we hate it when we open the fridge and don't know what to make. Own app is there to help you find and remember all of the meals snakc and drinks that you love!
            </p>
            <a href="/about" class="btn">Learn More</a>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>