<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header.ejs', {title: `${recipe.recipeName} | YUM`}) %>
    <link rel="stylesheet" href="/styles/recipe-details.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">


</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <div>
        <img class="col-5" src="<%= recipe.photo %>">
        <h2 class="product-name"><%= recipe.recipeName %></h2>
        <section>
            <p><strong>Description:</strong> <%= recipe.description %></p>
            <p><strong>Number of Ingredients:</strong> <%= recipe.numOfIng %> </p>
            <p><strong>Ingredients:</strong> <%= recipe.ingredients %></p>

            <p><strong>Instructions:</strong> <%= `${recipe.instructions}` %></p>
            
        </section>
        <section id="recipeReviews">
            <%for (let review of recipe.reviews) { %>
                <p>Reviewer: <%=review.reviewerName %></p>
                <p>Comment: <%=review.comment%> <%=review.rating%>/5</p>

            <% }%>

        </section>

        <section class="actions">
            <button class="btn editbtn"><a href="/recipes/<%= recipe._id %>/edit">Edit</a></button>
            <form method="POST" action="/recipes/<%= recipe._id %>?_method=DELETE">
                <input class="btn" type="submit" value="Delete" />
            </form>

            <!-- //review buttons -->
        
            <form method="POST" action="/reviews/new/<%=recipe._id%>?_method=GET">
                <input class="btn" type="submit" value="Review">
            </form>

        </section>

        <section>
            

        </section>
        
    </div>

    <%- include('./partials/footer.ejs') %>
</body>

</html>