<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header.ejs', {title: 'All Recipes'}) %>
    <link rel="stylesheet" href="/styles/recipe-index.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">

</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <section class="product-listings">
            <h1>Your Recipes</h1>

            <div class="categories">
                <a  href="/recipes"><button> All </button></a>
                <a href="/recipes/food"><button> Food </button></a>
                <a  href="/recipes/drinks"><button> Drink </button></a>
            </div>

            <ul class="row ">
                <!-- so The "Recipe" is capital because it's defined in the recipes.js for this page's route -->
                <% for (let recipe of Recipe) { %>
                <li class="col-md-4">
                    <div class="fitContent col-md-12">
                        <figure class="">
                            <img class="col-md-8" src="<%= recipe.photo %>">
                            <figcaption>
                                <h4><%= recipe.recipeName %></h4>

                               <p> <%= recipe.description %> 
                                <br><%=recipe.numOfIng%> Ingredients

                                <br> Ingredients: <%= recipe.ingredients %></p>
                                <a href="/recipes/<%= recipe._id %>">Make It!</a>

                            </figcaption>

                        </figure>
                    </div>
                </li>
                <% } %>
            </ul>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>