<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header.ejs', {title: 'All Recipes'}) %>
    <link rel="stylesheet" href="/styles/recipe-index.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <section class="product-listings">
            <h1>Your Recipes</h1>
            <ul>
                <!-- so The "Recipe" is capital because it's defined in the recipes.js for this page's route -->
                <% for (let recipe of Recipe) { %>
                <div class="col-2"></div>
                <li class="row">
                    <div class="fitContent">
                        <figure class="col-8">
                            <img class="col-8" src="<%= recipe.photo %>">
                            <figcaption>
                                <h4><%= recipe.recipeName %></h4>
                               <p> <%= recipe.description %> Ingredients: <%= recipe.ingredients %></p>
                                <a href="/recipes/<%= recipe._id %>">Make It!</a>

                            </figcaption>

                        </figure>
                    </div>
                </li>
                <% } %>
            </ul>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>